@import "tailwindcss";
@plugin "@tailwindcss/typography";


:root {
  --gh-bg: #ffffff;
  --gh-section: #24292f;
  --gh-text: #1f2328;
  --gh-accent: #0969da;
}


@media (prefers-color-scheme: dark) {
  :root {
    --gh-bg: #161b22;
    --gh-section: #0e151f ;
    --gh-text: #e6edf3;
  }
}


@theme {
  --color-bg: var(--gh-bg);
  --color-section: var(--gh-section);
  --color-text: var(--gh-text);
  --color-border: var(--gh-border);
  --color-accent: var(--gh-accent);
  --color-success: var(--gh-success);
  --color-danger: var(--gh-danger);
}